{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@components": "./components",
          "@domains": "./domains",
          "@sections": "./sections",
          "@layouts": "./layouts",
          "@utils": "./utils",
          "@configs": "./configs",
          "@assets": "./assets",
          "@hooks": "./hooks",
          "@store": "./store",
        }
      }
    ]
  ]
}